@import "vars";
@import "fonts";
@import "libs";

h1 {
	font-size: 28px;
	line-height: 1.4;
}

h2 {
	font-size: 21px;
}


html,
body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $body-color;
	input,
	textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

a {
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

p{
	line-height: 1.5;
}

textarea {
	resize: vertical !important;
}

.slick-slide{
	outline: 0 !important;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}


.page-inner {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page-content {
	flex-grow: 1;
}

.footer{
	flex-shrink: 0;
}


.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	background-color: #fff;
}

.header-top {
	border-bottom: 1px solid $border-color;
	padding: 10px 0;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav__list {
	display: flex;
	li {
		text-transform: uppercase;
		margin-right: 25px;
		font-size: 15px;
		position: relative;
		z-index: 100;
		&:last-child {
			margin-right: 0;
		}
		a {
			display: block;
			padding: 28px 0;
			transition: .3s;
			&:hover {
				color: $accent;
			}
		}
		ul {
			display: none;
			position: absolute;
			left: 0;
			width: 100%;
			min-width: 180px;
			transform: translateX(-30px);
			padding-top: 25px;
			padding-bottom: 20px;
			background-color: #fff;
			box-shadow: 0px 25px 26px 0px rgba(0, 0, 0, 0.025);
			padding-left: 50%;
			padding-right: 50%;
			li {
				margin-right: 0;
				margin-bottom: 6px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					padding: 0;
				}
			}
		}
	}
}

.header-top {
	font-size: 13px;
}

.header-top__inner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.help-desk {
	display: flex;
	align-items: center;
	img {
		margin-right: 5px;
	}
}

.header-top__item {
	margin-right: 35px;
	&:last-child {
		margin-right: 0;
	}
}

.user {
	display: flex;
	align-items: center;
	img {
		border-radius: 50%;
		margin-right: 5px;
		max-width: 30px;
		max-height: 30px;
	}
}

.header-bottom {
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.05);
}

.breadcrumbs-list {
	display: flex;
	align-items: center;
	li {
		font-size: 12px;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
			color: #ccc;
		}
		&:only-child {
			color: $body-color;
		}
		&:not(:first-child) {
			&::before {
				content: '/';
				margin-right: 10px;
			}
		}
	}
}

.main {
	padding-top: 31px;
	.mpage-b1 {
		width: 100%;
		&__heading {
			margin: 0 0 15px 0;
			.row{
				align-items: center;
			}
		}
		&__baner {
			background-image: url(../img/00.jpg);
			height: 455px;
			.overlay {
				position: relative;
				top: 325px;
				background-color: #000;
				width: 100%;
				height: 130px;
				opacity: 0.7;
			}
			p {
				position: relative;
				top: 200px;
				color: #fff;
				width: 430px;
				font-size: 15px;
				padding-left: 30px;
				padding-top: 10px;
				line-height: 1.4;
			}
		}
		&__user-info {
			display: flex;
			justify-content: space-between;
			margin-bottom: 27px;
			&:first-child{
				ul{
					li{
						&:first-child{
							margin-bottom: 1px;
						}
						&:nth-child(2) {
							margin-bottom: 1px;
						}
					}
				}
			}
			&__left{
				img{
					width: 67px;
				}
			}
			&__right {
				ul {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					margin-left: 15px;
					li {
						width: 180px;
						height: auto;
						line-height: 1.3;
						font-size: 12px;
						color: #aaa;
						&:first-child{
							line-height: 1;
							margin-bottom: 2px;
						}
						&:nth-child(2) {
							font-size: 15px;
							color: #000;
							margin-bottom: 2px;
						}
					}
				}
			}
		}
	}
	.mpage-b2 {
		&__heading{
			.row{
				align-items: center;
			}
		}
		&__heading-side {
			display: flex;
			justify-content: space-between;
			&__left {
				display: flex;
				align-items: center;
				span {
					font-size: 13px;
					color: #aaa;
					margin-left: 50px;
				}
			}
			&__right {
				.project-menu{
					margin: 0;
					padding: 0;
				}
			}
		}
		&__content{
			.second{
				margin-top: 30px;
			}
			.mini-news{
				.tag{
					margin-right: 10px;
				}
				.grey{
					background-color: $table-head-color;
				}
				a{
					p{
						padding-top: 8px;
					}
				}
				
			}
		}
	}

}

.breadcrumbs {
	margin-bottom: 15px;
}

.table {
	width: 100%;
	font-size: 13px;
	&--is-noactive{
		user-select: none;
		tbody{
			tr{
				cursor: auto !important;
				&:hover{
					background-color: transparent !important;
				}
			}
		}
	}
	tbody {
		tr {
			&:hover {
				background-color: $table-hover;
				cursor: pointer;
			}
		}
	}
	tr {
		border-bottom: 1px solid $border-color;
		transition: .3s;
	}
	td {
		padding: 12px 0;
		&:first-child {
			padding-left: 20px;
		}
		&:last-child {
			padding-right: 20px;
		}
	}
}

.tag {
	display: inline-block;
	font-size: 10px;
	padding: 3px 8px;
	border-radius: 2px;
	color: #fff;
	background-color: $accent;
	transition: .3s;
	&:hover{
		color: #fff;
	}
}

.tag--opened {
	background-color: #009540;
}


.pagination-wrapper{
	font-size: 13px;
}

.pagination-wrapper--projects{
	margin-top: 80px;
	margin-bottom: 110px;
}

.pagination {
	display: flex;
	//margin-bottom: 60px;
	li {
		transition: .3s;
		border: 1px solid $border-color;
		border-right: none;
		&:last-child{
			border: 1px solid $border-color;
		}
		&.current,
		&:hover {
			background-color: $accent;
			color: #fff;
			border-color: $accent;
		}
	}
	a {
		display: block;
		padding: 9px 16px;
	}
}


.pagination-wrapper__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pagination-control__text{
	margin-right: 20px;
	display: block;
	//margin-top: -6.5px;
}

.pagination-control-wrapper{
	display: flex;
	align-items: center;
}

.pagination-control{
	.selectize-control{
		height: 30px;
	}
	.form-field{
		width: 58px;
		min-height: 30px;
		.selectize-input{
			width: 58px;
			height: 30px;
			line-height: 28px;
			&:focus-within{
				outline: 0;
			}
		}
	}
	.selectize-dropdown .optgroup-header, .selectize-dropdown [data-selectable] {
		background-color: #fff;
		height: 30px;
		line-height: 30px;
	}
}

.footer {
	padding: 38.5px 0;
	background-color: #F8F8F8;
}

.footer__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	color: #CCCCCC;
}

.project-controls__inner {
	display: flex;
	align-items: center;
}

.project-controls {
	font-size: 13px;
}

.project-controls__toggler {
	position: relative;
	cursor: pointer;
	img {
		margin-right: 5px;
	}
}

.project-menu__toggler-wrapper {
	margin-left: 60px;
	&:hover{
		span{
			background-color: $accent;
		}
	}
	.project-menu__toggler{
		padding-top: 15px;
		padding-bottom: 15px;
		display: flex;
	}
	span {
		width: 4px;
		height: 4px;
		background-color: $body-color;
		border-radius: 50%;
		margin-right: 2px;
		transition: .3s;
		&:last-child {
			margin-right: 0;
		}
	}
}

.project-controls__toggler--search {
	margin-left: auto;
	&.is-active {
		img {
			transform: rotate(-180deg);
		}
	}
	img {
		transition: .3s;
	}
}

.dropdown {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #fff;
	width: 180px;
	transform: translateX(-50%);
	padding: 20px 0;
	padding-left: 30px;
	z-index: 100;
	box-shadow: 0px 0px 20px 0px rgba(127,127,127,0.24);
	ul {
		li {
			font-size: 15px;
			margin-bottom: 6px;
			transition: .3s;
			&:hover {
				color: $accent;
			}
		}
	}
}


.project-filter {
	margin-bottom: 20px;
	display: none;
}

.project-filter__inner {
	display: flex;
	background-color: #f5f5f5;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-filter {
	font-size: 13px;
}

.project-filter__control {
	margin-right: 10px;
	min-height: 36px;
	border: 1px solid $border-color;
	color: #AAAAAA;
	width: 100%;
	padding: 0 10px;
	&::placeholder {
		color: #AAAAAA;
	}
	&:focus {
		border-color: $accent-2;
		color: $body-color;
		&::placeholder {
			color: $body-color;
		}
	}
	&:last-child {
		margin-right: 0;
	}
}



.page-title-list {
	li {
		font-size: 28px;
	}
}

.breadcrumbs-list--page-title {
	li {
		font-size: 28px;
	}
}

.project-controls--projects-page {
	.project-menu__toggler-wrapper {
		margin-left: auto;
	}
	.breadcrumbs-list {
		margin-right: 65px;
	}
}

.table--projects-preview {
	tr {
		border-bottom: none;
		border-top: 1px solid $border-color;
		&:last-child {
			border-bottom: 1px solid $border-color
		}
	}
}

.table__key {
	text-transform: uppercase;
	font-weight: normal;
	color: $table-head-color;
	padding: 15px 0;
	font-size: 10px;
	&:last-child {
		padding-right: 20px;
		text-align: center;
	}
}

.table--projects-preview {
	margin-bottom: 60px;
	td {
		width: auto;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.table__key {
		font-size: 13px;
		text-transform: none;
		margin-right: 10px;
		font-family: $default-font;
	}
}

.tabs__list {
	display: flex;
	li {
		font-size: 15px;
		margin-right: 40px;
		font-family: $medium-font;
		transition: .3s;
		cursor: pointer;
		transition: .3s;
		border-bottom: 1px solid transparent;
		&:last-child {
			margin-right: 0;
		}
		&.is-active,
		&:hover {
			color: $accent;
		}
	}
}

.tabs__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $border-color;
}

.tabs-content__item {
	display: none;
	margin-bottom: 100px;
	th,td{
		&:last-child{
			text-align: center;
		}
	}
	th,td{
		&:nth-last-child(2){
			text-align: center;
		}
	}
	.btn{
		font-size: 15px;
	}
	&.is-shown {
		display: block;
	}
}

.table--projects {
	td {
		width: 24%;
	}
}

.table--nopading {
	td:first-child {
		color: #aaa;
		font-family: $default-font;
		padding-left: 0;
	}
	td:last-child{
		a{
			color: $accent-2;
			text-decoration: underline;
		}
	}
}

.tag--create {
	background-color: #8B8B8B;
	transition: .3s;
	&:hover {
		background-color: $accent-2;
	}
}

.tabs-content__item {
	tr {
		&:last-child {
			td {
				color: $body-color;
			}
		}
		td {
			color: #8B8B8B;
			font-family: $default-font;
		}
	}
}


.tabs-content__item {
	min-height: 370px;
	.btn {
		margin-top: 40px;
	}
}

.tag--harmonization {
	background-color: #63C1DD;
}

// 4-th page

.heading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1{
		display: flex;
		align-items: center;
	}

}



.filter-form-wrapper{
	margin-bottom: 20px;
	display: none;
}

.filter-form__inner{
	display: flex;
	background-color: #f5f5f5;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-field{
	min-height: 40px;
	line-height: 38px;
	font-size: 15px;
	color: $body-color;
	border: 1px solid $border-color;
	width: 100%;
	padding: 0 10px;
	border-radius: 2px;
	&::placeholder{
		color: #aaaaaa;
	}
	&:focus{
		border-color: $accent-2;
		&::placeholder{
			color: $body-color;
		}
	}

}

.filter-form{
	.form-field{
		min-height: 36px;
		line-height: 34px;
		font-size: 13px;
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
	.form-field--select{
		.selectize-input {
			height: 36px;
			line-height: 34px;
		}
		.selectize-dropdown .optgroup-header, .selectize-dropdown [data-selectable]{
			height: 36px;
			line-height: 36px;
		}
	}
}




// стили к 5-й странице

.set-form{
	font-size: 13px;
	margin-bottom: 365px;
}


.form-field--textarea{
	height: 40px;
	line-height: 1.7;
	padding-top: 7px;
	padding-bottom: 8px;
}

.selectize-control {
	height: 36px;
	line-height: 36px;
}

.form-field--select{
	border: none;
	padding: 0;
	.selectize-input {
		height: 40px;
		line-height: 39px;
		border: 1px solid $border-color !important;
		padding: 0 10px;
		border-radius: 2px;
		background-image: none !important;
		background-color: #fff !important;
		box-shadow: none !important;

		&:focus-within{
			border-color: $accent-2 !important;
			//outline: 1px solid $accent-2;
			input {
				&::placeholder{
					color: $body-color;
				}
			}
		}
		input{
			color: $body-color;
			&::placeholder{
				color: #AAAAAA;
			}
		}
	}
	.selectize-dropdown {
		margin: 4px 0 0 0 !important;
		outline: 1px solid $border-color;
		outline-offset: -1px;
	}
	.selectize-dropdown .optgroup-header, .selectize-dropdown [data-selectable] {
		background-color: #fff;
		height: 40px;
		line-height: 40px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 10px;
		padding-right: 10px;
		color: $body-color !important;
	}
	.selectize-dropdown .option.selected{
		background-color: #f5f5f5 !important;
		color: $body-color !important;
	}
	.selectize-dropdown .option {
		&:hover{
			background-color: $accent-2 !important;
			color: #fff !important;
		}
	}
}


.selectize-control.single .selectize-input:after {
	margin-top: 0 !important;
	transform: translateY(-50%);
}


.set-form-wrapper{
	width: 100%;
	max-width: 555px;
}

.set-form-label{
	position: relative;
	width: 100%;
	margin-bottom: 0;
	&:first-child{
		margin-right: 20px;
	}
	&:only-child{
		margin-right: 0;
	}

	//.selectize-dropdown-content{
	//	box-shadow: 5px 40px 100px 3px rgba(0,0,0,0.1) !important;
	//}

	.selectize-control.single .selectize-input:after{
		border-color: $accent-2 transparent transparent transparent !important;
	}

	.selectize-control.single .selectize-input.dropdown-active:after {
		border-color: transparent transparent $accent-2 transparent !important;
	}

	.input-group-append{
		position: absolute;
		right: 0;
		.btn{
			background-color: transparent;
			border: none;
			&:focus{
				outline: 0;
			}
			.gj-icon{
				color: $accent-2;
				font-size: 24px;
			}
		}
	}
	.gj-timepicker-md{
		color: $accent-2;
		.gj-icon{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 5px;
		}
	}
}

.set-form-label__inner{
	display: flex;
	align-items: center;
	position: relative;
}

.set-form{
	color: #8B8B8B;
}

.set-form__partial{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.form-field--small{
	width: 80px;
}

.form-field--medium{
	width: 145px;
}

.set-form-label--auto{
	width: auto;
}


.page-title-list{
	li{
		font-size: 28px;
	}
}

.breadcrumbs-list--page-title{
	li{
		font-size: 28px;
	}
}


.project-controls--projects-page{
	margin-bottom: 27px;
	.project-menu__toggler{
		margin-left: auto;
	}
	.breadcrumbs-list{
		margin-right: 65px;
	}
}


.table--projects-preview{
	tr{
		border-bottom: none;
		border-top: 1px solid $border-color;
		&:last-child{
			border-bottom: 1px solid $border-color
		}
	}
}


.table__key{
	text-transform: uppercase;
	font-weight: normal;
	color: $table-head-color;
	padding: 15px 0;
	font-size: 10px;
	&:last-child{
		padding-right: 20px;
		text-align: center;
	}
}


.table--projects-preview{
	margin-bottom: 60px;
	td{
		width: auto;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
	.table__key{
		font-size: 13px;
		text-transform: none;
		margin-right: 10px;
		font-family: $default-font;
	}
}


.tabs__list{
	display: flex;
	li{
		font-size: 15px;
		margin-right: 40px;
		font-family: $medium-font;
		transition: .3s;
		cursor: pointer;
		padding-bottom: 12px;
		padding-top: 30px;
		position: relative;
		transition: .3s;
		&.is-active{
			&:after{
				display: block;
			}
		}
		&:after{
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $accent;
			margin-top: 1px;
			display: none;
		}
		&:last-child{
			margin-right: 0;
		}
		&.is-active,
		&:hover{
			color: $accent;
		}
	}
}



.tabs-content__item{
	display: none;
	margin-bottom: 100px;
	&.is-shown{
		display: block;
	}
}





.tag--create{
	background-color: #8B8B8B;
	transition: .3s;
	&:hover{
		background-color: $accent-2;
	}
}

.tag--closed{
	background-color: $accent;
}

.tabs-content__item{
	tr{
		&:last-child{
			td{
				color: $body-color;
			}
		}
		td{
			color: #8B8B8B;
			font-family: $default-font;
		}
	}
}


.btn{
	background-color: $accent-2;
	color: #fff;
	border: none;
	font-family: $bold-font;
	padding: 8px 15px;
	border-radius: 2px;
	cursor: pointer;
	transition: .3s;
	&:focus{
		outline: 0;
	}
	&:hover:not(.btn--nohover){
		background-color: #02669D;
	}
}

.tabs-content__item{
	min-height: 370px;
	.btn{
		margin-top: 40px;
	}
}


.tag--harmonization{
	background-color: #63C1DD;
}


.set-form{
	b{
		color: $body-color;
		margin-left: 20px;
	}
}

.form-add{
	display: flex;
	align-items: center;
	white-space: nowrap;
	color:  $body-color;
	margin-left: 20px;
	cursor: pointer;
}

.form-add__toggler{
	color: $accent-2;
	font-size: 20px;
	line-height: 1;
	margin-right: 6px;
}

.set-form-label__title{
	display: block;
	font-size: 13px;
	margin-bottom: 3px;
}

.form-add__text{
	border-bottom: 1px dashed #AAAAAA;
	transition: .3s;
	&:hover{
		border-color: $accent-2;
	}
}

.set-form-label--currency{
	.radio-label{
		&:nth-child(2) {
			.btn{
				border-radius: 0;
				border-left: none;
			}
		}
	}
}

.radio-label{
	margin-bottom: 0;

	input[type="radio"] {
		display: none;
		&:checked{
			& + .btn{
				background-color: $accent-2;
				color: #fff;
				border-color: transparent;
			}
		}
	}


	&:first-child{
		.btn{
			border-top-right-radius:0;
			border-bottom-right-radius:0;
		}
	}
	&:last-child{
		.btn{
			border-left: none;
			border-top-left-radius:0 ;
			border-bottom-left-radius:0;
		}
	}

	.btn{
		display: inline-block;
		font-family: $default-font;
		padding-left: 24px;
		padding-right: 24px;
		background-color: transparent;
		color: inherit;
		border: 1px solid $border-color;
		transition: .3s;
		&:hover{
			color: $body-color;
		}
	}
}

.set-form__partial--date{
	.set-form-label{
		&:first-child{
			margin-right: 35px;
		}
		&:nth-child(2) {
			margin-right: 35px;
		}
	}
}


.selection-list{
	padding: 20px;
	border: 1px dashed $border-color;
	ul{
		display: none;
		padding-left: 60px;
		.selection-list__item{
			margin-bottom: 10px;
			&:first-child{
				margin-top: 5px;
			}
		}
	}
}

.selection-list__toggler{
	font-size: 20px;
	font-family: $medium-font;
	color: $body-color;
	margin-right: 10px;
}

.selection-list__checkbox{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14px;
	height: 14px;
	border: 1px solid $border-color;
	margin-right: 10px;
	img{
		display: none;
		width: 12px;
		height: 12px;
		&::selection{
			display: none;
		}
	}
}



.selection-list__item{
	color: #8b8b8b;
	.selection-list__label{
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		transition: .3s;
		margin-bottom: 0;
		&:hover{
			color: $body-color;
		}
	}
	input[type="checkbox"] {
		display: none;
		&:checked{
			& + .selection-list__checkbox{
				img{
					display: block;
				}
			}
			& ~ .selection-list__content{
				color: $body-color;
			}
		}
	}
}

.selection-list__content{
	user-select: none;
}

.set-form__btns-wrap{
	display: flex;
	align-items: center;
	font-size: 15px;
	.btn{
		padding-left: 20px;
		padding-right: 20px;
		font-family: $bold-font;
		margin-right: 40px;
		transition: .3s;
	}
}

.set-form__reset{
	background-color: transparent;
	padding: 0;
	border: none;
	color: $body-color;
	border-bottom: 1px dashed $border-color;
	transition: .3s;
	cursor: pointer;
	&:hover{
		border-color: $accent-2;
	}
}

.set-form-label--gender{
	margin-left: auto;
}

.sample-control{
	position: absolute;
	font-size: 22px;
	line-height: 1;
	right: 10px;
	cursor: pointer;
	user-select: none;
	color: $accent-2;
	transition: .3s;
	&:hover{
		color: #4CAF50;
	}
}

.sample-control--plus{
	top: 4px;
}

.sample-control--minus{
	bottom: 1px;
}

.set-form-label--sample{
	margin-right: 20px;
}

.set-form-label--sample{
	&:last-of-type{
		.form-field--sample{
			width: 95px;
		}
	}
}


.set-form-label--currency{
	color: $body-color;
}



.mpage-b2__heading-side__right {
	align-self: center;
}

.mpage-b2__heading-side{
	a{
		margin-top: 9px;
	}
}

.mpage-b1__heading{
	h2{
		margin-top: 9px;
	}
}




.set-form-label {
	.input-group-append{
		height: 40px;
		.btn{
			height: 100%;
			&::before{
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				content:'';
				display: block;
				width: 19px;
				height: 20px;
				background-size: 100%;
				background-repeat: no-repeat;
				background-image: url('../img/date.svg');
			}
		}
	}
}


#time{
	width: 105px;
}


.set-form-label .gj-timepicker-md .gj-icon {
	font-size: 19px;
	right: 10px;
}


.footer--index{
	margin-top: 65px;
}


.tabs{
	margin-bottom: 25px;
}


.breadcrumbs--employees{
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}


.seating-plan-toggler{
	font-size: 15px;
	display: flex;
	align-items: center;
	cursor: pointer;
	svg{
		width: 23px;
		height: 15px;
		fill: $accent;
		margin-right: 10px;
	}
}


.heading-wrapper{
	margin-bottom: 15px;
}

.tags-filter-wrapper{
	margin-bottom: 33px;
	margin-top: 20px;
}

.tags-filter{
	display: flex;
	align-items: center;
	li{
		font-size: 15px;
		display: block;
		margin-right: 12px;
		cursor: pointer;
		transition: .3s;
		background-color: transparent;
		color: $body-color;
		padding: 1px 10px;
		&:hover{
			color: $accent;
		}
		&:last-child{
			margin-right: 0;
		}
		&.active{
			background-color: $accent;
			color: #FFFFFF;
		}

	}
}


.news-item{
	margin-bottom: 30px;

}

.news-item__img {
	display: block;
	img{
		width: 100%;
		margin-bottom: 3px;
	}
}

.news-item__link,
.mini-news__link{
	display: block;
	font-size: 15px;
	color: #000;
	transition: 0.3s;

	&:hover{
		color: $accent;
	}
}

.news-item__date{
	font-size: 12px;
	margin: 15px 0 15px 0;
	color: #aaa;
}

.heading-wrapper--news-single{
	margin-bottom: 5px;
	h1{
		max-width: 800px;
	}
}


.news-item--single {
	margin-bottom: 0;
	.news-item__date{
		display: block;
		margin: 0 ;
		margin-bottom: 17px ;
		font-size: 13px;
	}
	p{
		line-height: 1.7;
		margin-bottom: 18px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.news-item__img{
		margin-bottom: 45px;
		img{
			margin-bottom: 0;
		}
	}
}


.comments{
	margin-top: 54px;
	margin-bottom: 165px;
	h2{
		margin-bottom: 10px;
	}
}

.comments-item__img{
	margin-right: 20px;
	img{
		max-width: 40px;
		max-height: 40px;
	}
}

.comments-item{
	display: flex;
	justify-content: space-between;
}

.comments-form {
	position: relative;
	width: 100%;
	.form-field{
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 5px;
		&:focus {
			& + .comments-form__line {
				display: flex;
			}
		}
	}

}

.comments-form__line{
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	display: none;
	justify-content: space-between;
	padding-left: 21px;
	.publish-as{
		margin-top: -3.9px;
	}
	.btn{
		font-size: 13px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: $default-font;
	}
}


.publish-as{
	font-size: 12px;
	color: $table-head-color;
}

.publish-as__val{
	color: $body-color;
}

.events-item__val-tag{
	background-color: $table-head-color;
}

.events-item{
	margin-bottom: 40px;
	&:last-child{
		margin-bottom: 60px;
	}
	p{
		font-size: 15px;
		color: $table-head-color;
		margin-bottom: 5px;
	}
	.tag{
		font-size: 12px;
	}
}

.heading-wrapper--events{
	margin-bottom: 30px;
}

.events-item__tags{
	display: flex;
	margin-bottom: 10px;
}

.events-item__inner {
	border: 1px solid transparent;
	width: auto;
	display: inline-block;
	padding-right: 10px;
	padding-left: 15px;
	margin-left: -15px;
	transition: .3s;
	&:hover{
		h2{
			color: $accent;
		}
	}
	&:focus {
		outline: 0;
	}
	h2{
		transition: .3s;
	}
}


.events-slider {
	padding-top: 40px;
	border-top: 1px solid $border-color;
	margin-bottom: 73px;
}

.events-slider__header{
	display: flex;
	align-items: center;
	margin-bottom: 28px;
	h2{
		font-size: 28px;
		margin-right: 30px;
	}
}

.events-slider-item{
	margin-bottom: 50px !important;
	.tag{
		font-size: 10px;
	}
	h2{
		font-size: 15px;
		line-height: 1.5;
	}
	p{
		font-size: 13px;
	}
	.events-item__inner{
		padding: 2px 7px;
		margin-left: -10px;
	}
}

.events-slider-item__line{
	width: 20px;
	height: 2px;
	background-color: $accent;
	display: block;
	margin: 20px 0;
}

.events-slider__control{
	margin-right: 9px;
	user-select: none;
	cursor: pointer;
	&:hover{
		 svg{
			fill: $accent;
		}
	}
	&:last-child{
		margin-right: 0;
	}
	svg{
		width: 19px;
		height: 18px;
		fill: $body-color;
		transition: .3s;
	}
}

.events-slider__control--prev{
	transform: scaleX(-1);
}

.events-slider__controls{
	display: flex;
	align-items: center;
	margin-top: 11px;
}


.btn--sea-all {
	background-color: transparent;
	color: $body-color;
	border: 1px solid $border-color;
	font-size: 15px;
	padding: 9px 20px;
	font-family: $default-font;
	&:hover{
		color: $accent;
	}
}


.events-null {
	margin-bottom: 160px;
}

.events-null__message{
	font-size: 15px;
	color: $table-head-color;
}

.heading-wrapper--events-null{
	margin-bottom: 23px;
}


.events-item__tag{
	margin-right: 10px;
	&:last-child{
		margin-right: 0;
	}
}


.heading-wrapper--events-page{
	margin-bottom: 17px;
}

.events-item--single{
	p{
		font-size: 16px;
		color: $body-color;
		line-height: 1.7;
		margin-bottom: 23px;
	}
	.events-item__tags{
		margin-bottom: 25px;
	}
}

.tags-filter-wrapper .row{
	align-items: center;
}

.search-form{
	position: relative;
	.form-field{
		font-size: 12px;
		min-height: 30px;
		padding-right: 25px;
		&:placeholder{
			font-size: 2px;
		}
		&:focus{
			& + .search-form__submit{
				svg{
					stroke : $body-color;
				}
			}
		}
	}

}

.search-form__submit{
	padding-right: 8px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
	border: none;
	height: 100%;
	line-height: 39px;
	svg{
		width: 14px;
		height: 14px;
		stroke: #aaa;
	}
	&:focus{
		outline: 0;
	}
}


.employees-item__img{
	display: block;
	position: relative;
	margin-bottom: 12px;
	img{
		max-width: 263px;
		max-height: 263px;
	}
}


.employees-item__tags{
	display: flex;
	position: absolute;
	left: 10px;
	bottom: 10px;
	.tag{
		padding: 1px 5px;
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.employees-item__title{
	font-size: 15px;
	transition: .3s;
	color: $body-color;
	display: block;
	line-height: 1.3;
}

.employees-item__target-link{
	display: block;
	&:hover{
		.employees-item__title{
			color: $accent;
		}
	}
}

.employees-item{
	color: #aaaaaa;
	font-size: 13px;
	margin-bottom: 40px;
}

.employees-item__position{
	display: block;
	margin-bottom: 10px;
	line-height: 1.3;
}

.employees-item__email,
.employees-item__phone{
	display: flex;
	align-items: center;
	transition: .3s;
	line-height: 1.2;
	&:hover{
		color: $body-color;
	}
	img{
		margin-right: 7px;
	}
}

.employees-item__email {
	display: block;
	margin-bottom: 3px;
}

.employees-item__links-wrapper{
	line-height: 1.2;
}

.heading-wrapper--employees-single{
	margin-bottom: 25px;
}


.footer--employees-page{
	margin-top: 225px;
}


.footer--company {
	margin-top: 415px;
}


.footer--employees{
	margin-top: 70px;
}

.tag--gray{
	background-color: #8B8B8B;
}

.main--employees{
	padding-top: 29px;
}

.main--employees-page{
	padding-top: 30px;
}

.breadcrumbs--edit{
	margin-bottom: 11px;
}

.breadcrumbs--employees{
	margin-bottom: 11px;
}

.logo{
	a{
		display: block;
	}
	img, svg{
		width: 120px;
		height: 46px;
	}
}

.selection-list--without-plus{
	.selection-list__item {
		margin-bottom: 11px;
	}
}

.employees--single{
	.employees-item__img{
		margin-bottom: 0;
	}
	.table{
		height: 100%;
		margin-top: 0px;
		margin-bottom: 10px;
		font-size: 15px;
		tr{
			&:first-child{
				border-top: 1px solid $border-color;
			}
		}
		td{
			&:first-child{
				width: 25%;
			}
		}
	}
}

.pagination-wrapper--news{
	margin-bottom: 60px;
}

.tag--create{
	&:hover{
		background-color: $accent-2;
	}
}

.tag--transparent {
	background-color: transparent;
	color: $table-head-color;
	border: 1px solid $border-color;
	&:hover{
		color: $table-head-color;
	}
}

.knowledge-item {
	margin-bottom: 30px;
	&:last-child{
		margin-bottom: 70px;
	}
	.events-item__inner {
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		.events-item__tags {
			margin-bottom: 15px;
		}
		&:hover{
			h2{
				color: #000000;
			}
		}
		a{
			&:hover{
				color: $accent;
			}
		}
		h2{
			margin-bottom: 15px;
			line-height: 1.2;
		}
	}
	.events-item__tags {
		margin-bottom: 7px;
	}
	p{
		margin-bottom: 20px;
	}
}
.knowledge-item__footer {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: $table-head-color;
	margin-bottom: 25px;
}

.knowledge-item__date {
	margin-right: 5px;
}

.knowledge-item__separator {
	height: 1px;
	width: 100%;
	background-color: $border-color;
}

.knowledge-search {
	padding: 20px;
	padding-top: 8px;
	background-color: #F4F4F4;
}

.knowledge-search-wrapper {
	width: 360px;
	position: fixed;
	z-index: 9999;
}

.knowledge-search__block-title {
	font-size: 13px;
	font-family: $bold-font;
}

.knowledge-search__tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.tag{
		margin-right: 4px;
		cursor: pointer;
		font-size: 13px;
		margin-bottom: 4px;
		&:last-child{
			margin-right: 0;
		}
	}
	.tag--transparent {
		&:hover{
			color: #000000;
		}
	}
}

.knowledge-search__search-field {
	margin-bottom: 5px;
	position: relative;
	.form-field{
		font-size: 12px;
		min-height: 30px;
		padding-right: 25px;
		border: 1px solid #aaa;
	}
}

.set-form__partial--last {
	margin-bottom: 60px;
}

.knowledge-search__block {
	margin-bottom: 18px;
}

.knowledge-search__checkbox {
	display: inline-flex;
	font-size: 13px;
	input[type="checkbox"] {
		&:checked{
			& + .selection-list__checkbox{
				border-color: #aaaaaa;
			}
		}
	}
}

.knowledge-search__btns-wrap {
	font-size: 13px;
	.btn{
		background-color: #000;
		color: #ffffff;
		padding: 10px 44px;
		margin-right: 20px;
		&:hover{
			color: #ffffff;
			background-color: #000000;
		}
	}
	.set-form__reset {
		&:hover{
			border-color: #000000;
		}
	}
}

.knowledge-search-wrapper__link {
	display: inline-flex;
	align-items: center;
	font-size: 13px;
	transition: .3s;
	margin-right: 30px;
	&:last-child {
		margin-right: 0;
	}
	&:hover{
		color: $accent;
	}
	svg{
		margin-right: 10px;
	}
}

.knowledge-search-wrapper__link--roles {
	svg{
		width: 18px;
		height: 11px;
		margin-right: 8px;
	}
}

.knowledge-search-wrapper__link--articles {
	svg{
		width: 12px;
		height: 14px;
	}
}

.knowledge-search-wrapper__links {
	display: flex;
	align-items: center;
	padding-left: 20px;
	margin-bottom: 15px;
}

.knowledge-item--single {
	margin-bottom: 0 !important;
	h1 {
		line-height: 33.6px;
	}
	.events-item__tags {
		margin-bottom: 15px;
	}
	.knowledge-item__footer {
		margin-top: 25px;
		.events-item__tags {
			margin-bottom: 0;
			margin-right: 40px;
		}
	}
}

.breadcrumbs--knowledge--page {
	margin-bottom: 34px;
}

.knowledge-roles-item__select-holder {
	margin-bottom: 12px;
	.set-form-label__title {
		font-family: $bold-font;
	}
}

.knowledge-roles-item__tags-output {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.user-tag__close-btn {
	margin-top: -1px;
	cursor: pointer;
	&:hover{
		svg{
			path{
				fill: $accent-2;
			}
		}
	}
	svg{
		width: 10px;
		height: 10px;
	}
}

.user-tag {
	white-space: nowrap;
	font-size: 13px;
	display: inline-flex;
	align-items: center;
	background-color: $table-hover;
	color: $table-head-color;
	border-radius: 2px;
	padding: 5px 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	&:last-child{
		margin-right: 0;
	}
}

.user-tag__text {
	margin-right: 20px;
}

.knowledge-roles-item {
	margin-bottom: 15px;
}

.knowledge-roles__buttons {
	margin-top: 55px;
}

.knowledge-roles {
	margin-bottom: 600px;
}

.heading-wrapper--knowledge-roles {
	margin-bottom: 20px;
}

.knowledge-page-edit__field-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
}

.knowledge-page-edit__field-wrapper--number-article {
	width: 133px;
	margin-right: 40px;
}

.knowledge-page-edit__partial {
	display: flex;
	align-items: flex-start;
	margin-bottom: 17px;
	.set-form-label__title {
		color: $table-head-color;
	}
}

.knowledge-page-edit__field-wrapper--status {
	width: 180px;
}

.heading-wrapper--knowledge-page-edit {
	margin-bottom: 17px;
}

.knowledge-page-edit__selection-list-wrapper {
	display: flex;
	align-items: flex-end;
	.selection-list {
		padding: 0;
		border: none;
		font-size: 13px;
		margin-right: 65px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.knowledge-page-edit__selection-list-wrapper--lg-margin {
	.selection-list {
		&:first-child{
			margin-right: 110px;
		}
	}
}

.knowledge-page-edit__tags-output {
	.user-tag__text {
		margin-right: 20px;
	}
}

.knowledge-page-edit__partial--editor {
	margin-top: 13px;
	margin-bottom: 40px;
}

.knowledge-page-edit__control-btns {
	.btn{
		margin-right: 30px;
	}
}

.btn--accent-2 {
	background-color: $btn--accent-2;
	&:hover{
		background-color: $btn--accent-2-hover !important;
	}
}

.knowledge-page-edit {
	margin-bottom: 145px;
}

.timesheets-header__list {
	display: flex;
	align-items: center;
}

.timesheets-header__item {
	font-size: 15px;
	margin-right: 40px;
}

.timesheets-header__key {
	color: $table-head-color;
	margin-right: 5px;
}

.timesheets-header__val {
	border-bottom: 1px dashed $accent-2;
}

.timesheets-header__key--employee {
	border-bottom: none;
}

.heading-wrapper--timesheets-week {
	margin-bottom: 20px;
}

.timesheets-header--timesheets-week {
	margin-bottom: 55px;
}

.timesheets-table-header__item {
	padding-bottom: 14px;
	color: $table-head-color;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	&:first-child{
		padding-left: 20px;
	}
}

.timesheets-table-header__time {
	display: block;
	line-height: 1;
	margin-bottom: 4px;
}

.timesheets-table-header__time--calendar-day {
	font-size: 13px;
}

.timesheets-table-header__time--weekend {
	color: $accent;
}

.timesheets-table-header__link {
	display: block;
	text-align: center;
}

.timesheets-table-body__item {
	font-size: 13px;
	width: 4.5%;
	padding-top: 5px;
	padding-bottom: 5px;
	&:first-child{
		padding-left: 20px;
	}
}

.timesheets-table-body__item-val {
	.form-field{
		width: 40px;
		min-height: 36px;
		line-height: 34px;
		text-align: center;
		font-size: 13px;
		&:focus{
			&::selection{
				display: none;
			}
		}
		&:disabled{
			background-color: transparent;
			border: none;
		}
	}
}

.timesheets-table-body__item--text-center  {
	text-align: center;
}

.timesheets-table-header__item--text-center {
	text-align: center;
}

.timesheets-table-body__row {
	border-bottom: 1px solid $border-color;
	&:hover{
		background-color: $table-hover;
	}
	&:last-child{
		.timesheets-table-body__item-val-all {
			color: $accent;
		}
		.timesheets-table-body__item-val {
			.form-field{
				color: $accent;
			}
		}
	}
}

.timesheets-table-header__row {
	border-bottom: 1px solid $border-color;
	.timesheets-table__checkbox-holder {
		padding-bottom: 0;
	}
}

.timesheets-table {
	margin-bottom: 40px;
}

.timesheets-table-wrapper {
	margin-bottom: 500px;
}

.timesheets-table-body__row--all {
	background-color: $table-hover;
}

.timesheets-table__btn-reset {
	display: none;
}

.timesheets-table-btns {
	justify-content: space-between;
}

.timesheets-table__btn-add {
	display: none;
	align-items: center;
	&:hover{
		color: #ffffff;
	}
	margin-right: 0 !important;
}

.timesheets-table-wrapper {
	&.timesheets-table--edit{

		.timesheets-table__btn-add,
		.timesheets-table__btn-reset{
			display: inline-flex;
		}

		.timesheets-table__btn-surrender {
			display: none;
		}

	}
}

.mfp-bg {
	background: #000;
	opacity: .4;
}

.popup{
	background-color: #fff;
	padding: 25px;
	padding-top: 10px;
	position: relative;
	box-shadow: 1px 0px 71px -7px rgba(0,0,0,0.4);
}

.popup__title {
	font-size: 21px;
	padding-bottom: 16px;
	margin-bottom: 12px;
	border-bottom: 1px solid $border-color;
}

.timesheets-popup {
	.selection-list {
		padding: 0;
		border: none;
		ul{
			padding-left: 40px;
		}
	}
	.selection-list__label{
		flex-shrink: 0;
		margin-right: 25px;
		position: relative;
		z-index: 1;
	}
	.selection-list__item {
		font-size: 13px;
	}
	.selection-list__item-inner {
		position: relative;
		.selectize-control.single .selectize-input:after {
			right: 10px;
			border-color: $accent-2 transparent transparent transparent;
		}
		.selectize-control.single .selectize-input.dropdown-active:after {
			border-color: transparent transparent $accent-2 transparent;
		}
		.form-field--select .selectize-dropdown .optgroup-header, .form-field--select .selectize-dropdown [data-selectable] {
			font-size: 13px;
		}
		.form-field--select .selectize-dropdown .optgroup-header, .form-field--select .selectize-dropdown [data-selectable] {
			height: 30px;
			line-height: 30px;
		}
		.selectize-control{
			height: 30px;
			position: absolute;
		}
		.form-field{
			display: none;
			min-height: 30px;
			&.is-shown{
				display: block;
			}
			.selectize-input{
				width: 160px;
				height: 30px;
				line-height: 28px;
				position: absolute;
				right: 0;
				transform: translateX(100%);
			}
		}
	}
	.selection-list__toggler {
		margin-right: 15px;
	}
}

.selection-list__item-inner {
	display: inline-flex;
	align-items: center;
}

.timesheets-popup__block {
	margin-bottom: 27px;
	&:last-child{
		margin-bottom: 0;
	}
}

.timesheets-popup__selection-list-wrapper {
	display: flex;
	align-items: flex-start;
	.selection-list {
		.selection-list__item {
			margin-bottom: 9px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.selection-list__label {
			margin-right: 0;
		}
		&:first-child{
			margin-right: 75px;
		}
		&:nth-child(2) {
			margin-right: 150px;
		}
		&:nth-child(3) {
			margin-right: 100px;
		}
	}
}

.timesheets-popup__block--after-hours {
	border-bottom: 1px solid $border-color;
	padding-bottom: 20px;
	margin-bottom: 40px;
	.popup__title {
		margin-bottom: 20px;
	}
}

.timesheets-popup__btns {
	.btn{
		margin-right: 30px;
	}
}

.mfp-close-btn-in .mfp-close {
	display: none;
}

.popup__close {
	cursor: pointer;
	display: inline-flex;
	position: absolute;
	right: 25px;
	top: 20px;
	&:hover{
		svg {
			path{
				fill: $accent-2;
			}
		}
	}
	svg {
		width: 12px;
		height: 12px;
		path{
			transition: .3s;
			fill: #000;
		}
	}
}

.approval-table__item-inner {
	display: flex;
	align-items: center;
}

.approval-table__col--header {
	font-size: 10px;
	color: $table-head-color;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.approval-table__col {
	text-align: center;
	&:not(.approval-table__col--header) {
		font-size: 13px;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	&:first-child{
		width: 6%;
	}
	&:nth-child(2) {
		width: 6%;
	}
	&:nth-child(3) {
		width: 16%;
	}
	&:nth-child(4) {
		width: 12%;
	}
	&:nth-child(5) {
		width: 12%;
	}
}


.approval-table__item {
	border-bottom: 1px solid $border-color;
	cursor: pointer;
	&:hover{
		background-color: $table-hover;
		.approval-table__dropdown-toggler {
			span {
				color: #000000;
			}
		}
	}
	&.dropdown-show {
		background-color: $table-hover;
		.approval-table__dropdown-toggler {
			display: none;
		}
	}


}

.approval-table__item--header {
	cursor: auto;
	&:hover{
		background-color: transparent;
	}
}

.heading-wrapper--timesheets-approval {
	margin-bottom: 40px;
}

.approval-table__dropdown-toggler {
	margin-left: auto;
	padding-right: 20px;
	span {
		color: $accent-2;
		border-bottom: 1px dashed currentColor;
	}
}

.timesheets-approval {
	margin-bottom: 600px;
}

.approval-drop-table {
	display: none;
	padding-bottom: 20px;
	padding-top: 15px;
	.timesheets-table-header__item {
		.selection-list__checkbox {
			margin-right: 0;
			display: inline-block;
			background-color: #fff;
		}
	}
	.timesheets-table {
		margin-bottom: 0;
		.timesheets-table-body__row {
			&:nth-child(2){
				td{
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
}

.timesheets-table__checkbox {
	display: block;
	margin-bottom: 0;
	input{
		display: none;
		&:checked{
			& ~ .selection-list__checkbox {
				img{
					display: block;
				}
			}
		}
	}
}


.timesheets-table__checkbox-holder {
	text-align: right;
	padding-right: 20px;
}

.timesheets-table-body__row {
	.timesheets-table__checkbox-holder {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.timesheets-table-comment-form {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
	padding-top: 12px;
	.form-field{
		font-size: 12px;
		max-width: 303px;
		min-height: 30px;
		line-height: 28px;
		padding-left: 20px;
		padding-right: 20px;
		margin-right: 20px;
	}
	.btn{
		font-size: 12px;
		font-family: $default-font;
		flex-shrink: 0;
		padding-top: 0;
		padding-bottom: 0;
		height: 30px;
		align-items: center;
	}
	.btn--accent-3{
		margin-right: 10px;
	}
}

.btn--accent-3 {
	background-color: #FF9800;
	&:hover{
		background-color: #F57C00 !important;
	}
}


.timesheets-header--calendar {
	margin-bottom: 30px;
}

// календарь
.calendar{

	padding: 0;

	.calendar-header {
		display: none;
	}

	.month-container {
		padding-left: 15px;
		padding-right: 15px;
	}

	table{
		margin-left: 0;
		margin-right: 0;
	}

	table.month {

		margin-bottom: 25px;

		th.month-title {
			font-size: 21px;
			padding-bottom: 12px;
		}

		th,
		td{
			width: auto;
			height: auto;
			line-height: 1;
		}

		th.week-number,
		th.day-header {
			font-size: 10px;
			color: $table-head-color;
			font-weight: normal !important;
		}

		th.day-header {
			padding-left: 11px;
		}

		td.week-number {
			padding: 0;
			cursor: pointer;
			transition: .1s;
			&:hover{
				background-color: $accent-2 !important;
				color: #ffffff !important;
			}
		}

		td.day {
			font-size: 15px;
			padding-left: 11px;
			padding-top: 14.5px;
		}

		tr  {
			vertical-align: baseline;
			td {
				.day-content{
					padding: 0;
					border-radius: 0;
					cursor: auto !important;
					&:hover{
						background-color: transparent !important;
					}
				}
				&:nth-last-child(2),
				&:last-child{
					color: $accent;
				}
				&:nth-child(2) {
					padding-left: 22px;
					position: relative;
					&::before{
						content: "";
						display: block;
						position: absolute;
						left: 10.5px;
						top: 0;
						height: 100%;
						width: 1px;
						background-color: $border-color;
					}
				}
			}

		}

		td.week-number {
			border-radius: 50%;
			display: inline-table;
			width: 24px;
			height: 24px;
			line-height: 24px;
			border-right: none;
			&.week-number--green-status,
			&.week-number--blue-status,
			&.week-number--pink-status {
				&:hover {
					color: #000000;
				}
			}
			&.week-number--green-status {
				background-color: #E8F5E9;
			}
			&.week-number--blue-status {
				background-color: #E1F5FE;
			}
			&.week-number--pink-status {
				background-color: rgba(#EE2F24, .2);
			}
		}

		thead{
			tr{
				&:last-child{
					th{
						padding-top: 5px;
						&:nth-child(2) {
							padding-left: 22px;
							position: relative;
							&::before{
								content: "";
								display: block;
								position: absolute;
								left: 10.5px;
								top: 0;
								height: 100%;
								width: 1px;
								background-color: $border-color;
							}
						}
						&:nth-last-child(2),
						&:last-child{
							color: $accent;
						}
					}
				}
			}
		}

	}

	table.month td.week-number {
		font-weight: normal !important;
	}

}

.calendar-wrapper {
	margin-bottom: 80px;
}

.timesheets-types {
	display: flex;
}

.timesheets-types-list {
	li{
		text-transform: uppercase;
		margin-bottom: 7px;
		position: relative;
		&.is-active {
			.form-field{
				background-color: #D9DADC;
				color: #000000;
			}
		}
	}
	.form-field{
		background-color: #ffffff;
		cursor: pointer;
		color: $table-head-color;
		transition: color .2s;
		padding-right: 35px;
		padding-top: 11.5px;
		padding-bottom: 11.5px;
		line-height: 18px;
		&:hover{
			color: #000000;
		}
	}
	.btn{
		width: 100%;
		font-size: 15px;
	}
}

.timesheets-types__item {
	background-color: #F4F4F4;
	margin-right: 2px;
	width: 25%;
	padding: 20px;
	padding-top: 5px;
	&:last-child{
		margin-right: 0;
	}
}

.timesheets-types__title {
	text-align: center;
	font-size: 21px;
	margin-bottom: 15px;
}

.heading-wrapper--timesheets-types {
	margin-bottom: 35px;
}

.timesheets-types-list__edit-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	line-height: 1;
	&:hover{
		fill: $accent-2;
	}
	svg{
		transition: .2s;
		width: 14px;
		height: 14px;
	}
}

.timesheets-types__item--types,
.timesheets-types__item--subtypes {
	.timesheets-types-list {
		display: none;
	}
}


.tabs-content__item-btn {
	display: inline-block;
	&:hover{
		color: #ffffff;
	}
}

.projects-page-popup {
	width: 605px;
	margin-left: auto;
	margin-right: auto;
	.set-form__btns-wrap {
		margin-top: 25px;
	}
}

.projects-page-popup__block {
	margin-bottom: 10px;
	.set-form-label__title {
		color: $table-head-color;
	}
	.form-field{
		font-size: 13px;
		min-height: 36px;
		line-height: 35px;
	}
	.form-field--select{
		.selectize-input {
			height: 36px;
			line-height: 35px;
			box-shadow: none !important;
			input{
				color: $body-color;
				&::placeholder{
					color: $body-color;
				}
			}
		}
		.selectize-dropdown .optgroup-header, .selectize-dropdown [data-selectable] {
			height: 36px;
			line-height: 36px;
		}
	}
	.set-form-label {
		&:first-child{
			margin-right: 30px;
		}
		&:only-child{
			margin-right: 0;
		}
	}
	.form-field--textarea{
		height: 36px;
		line-height: 1.7;
	}
}

.projects-page-popup__block--selects-wrapper {
	display: flex;
	flex-wrap: nowrap;
}

.heading-wrapper--employees-edit {
	margin-bottom: 40px;
}

.employees-edit {
	.set-form-label__title {
		color: $table-head-color;
	}
	.set-form__partial{
		margin-bottom: 0;
	}
	.radio-label {
		.btn{
			font-size: 15px;
			padding: 7px 18px;
		}
	}
	.set-form-label--sample {
		&:last-of-type{
			margin-right: 0;
		}
	}
	.set-form-label--medium {
		width: 160px;
		margin-right: 40px;
		.form-field--medium {
			width: 100%;
		}
	}
}

.employees-edit__partial {
	margin-bottom: 20px;
}

.employees-edit-drag__title {
	font-size: 15px;
	font-family: $medium-font;
	margin-bottom: 10px;
}

.employees-edit-drag__area {
	height: 150px;
	border: 1px dashed #d9dadc;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 12px;
	span {
		color: #8B8B8B;
		font-size: 13px;
	}
}

.employees-edit-drag {
	margin-top: 35px;
	margin-bottom: 400px;
}

.set-form-label--file {
	margin-bottom: 35px;
	input[type="file"] {
		position: absolute;
		z-index: -1;
		overflow: hidden;
		max-width: 0;
		max-height: 0;
		opacity: 0;
		&:focus{
			& + label .inputfile-btn {
				background-color: #CCCCCC;
			}
		}
	}
	label{
		width: 100%;
	}
	.form-field {
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		svg{
			width: 10px;
			height: 12px;
			margin-right: 15px;
		}
	}
	.inputfile-btn {
		position: absolute;
		right:  -1px;
		top: -1px;
		padding-left: 20px;
		padding-right: 20px;
		cursor: pointer;
		transition: .2s;
		background-color: #D9DADC;
		height: 40px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		&:hover{
			background-color: #CCCCCC;
		}
	}
}

.news-edit__btns-wrap {
	margin-top: 40px;
}

.news-edit__drag-area {
	cursor: pointer;
	border: 1px dashed #d9dadc;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	input[type="file"] {
		display: none;
	}
	span {
		font-size: 13px;
		color: #8B8B8B;
	}
}

.news-edit {
	margin-bottom: 155px;
	.set-form-label__title {
		color: #8B8B8B;
	}
}

.news-edit__cover-area {
	border: 1px dashed #d9dadc;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.news-edit__cover-area-controls {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.news-edit__block {
	margin-bottom: 20px;
}

.news-edit__block--time-date-wrapper {
	display: flex;
	align-items: center;
	.set-form-label {
		&:first-child{
			margin-right: 10px;
		}
	}
}

.news-edit__cover-area-control {
	display: inline-flex;
	align-items: center;
	font-size: 13px;
	color: #8B8B8B;
	border: 1px solid $border-color;
	border-radius: 2px;
	padding: 4px 8px;
	cursor: pointer;
	transition: .3s;
	margin-right: 10px;
	&:hover{
		color: #000000;
	}
	&:last-child{
		margin-right: 0;
	}
}

.news-edit__bts-wrap {
	margin-top: 20px;
}



//prreloader

$spinkit-size: 4em !default;
$spinkit-spinner-color: #337ab7 !default;

.sk-folding-cube {
	$cubeCount: 4;
	$animationDuration: 2s;
	$delayRange: ($animationDuration / 2);

	width: $spinkit-size;
	height: $spinkit-size;
	position: relative;
	margin: auto;
	transform: rotateZ(45deg);

	.sk-cube {
		float: left;
		width: 50%;
		height: 50%;
		position: relative;
		transform: scale(1.1);
	}

	.sk-cube:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $accent-2;
		animation: sk-folding-cube-angle $animationDuration infinite linear both;
		transform-origin: 100% 100%;
	}

	// Rotation / angle
	@for $i from 2 through $cubeCount {
		.sk-cube-#{$i} {
			transform: scale(1.1) rotateZ((90deg * ($i - 1)));
		}
	}

	@for $i from 2 through $cubeCount {
		.sk-cube-#{$i}:before {
			animation-delay: ($delayRange / $cubeCount * ($i - 1));
		}
	}
}

@keyframes sk-folding-cube-angle {
	0%, 10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}


.preloader {
	background-color: #ffffff;
	position: fixed;
	z-index: 99999;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
	opacity: 1;
	visibility: visible;

	&.done{
		opacity: 0;
		visibility: hidden;
	}
}

.mfp-wrap {
	&.overflow-y {
		overflow-y: scroll !important;
	}
}

.gj-textbox-md:active, .gj-textbox-md:focus {
	border-bottom: 1px solid $accent-2 !important;
}


//селект критиков
.selectize-control.multi .selectize-input.has-items {
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.selectize-control.multi .selectize-input > div.item {
	display: inline-flex;
	height: 28px;
	align-items: center;
	background: #F5F5F5;
	color: #8B8B8B;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: 100;
	font-size: 12px;
	border: none;
	text-shadow: none;
	margin: 0;
	margin-right: 5px;
	box-shadow: none;
}

.selectize-control.multi .selectize-input [data-value].active {
	background-color: #F5F5F5 !important;
	background: none;
	filter: none;
}

.selectize-control.plugin-remove_button [data-value] .remove {
	z-index: 1;
	/* fixes ie bug (see #392) */
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	width: auto;
	font-weight: 400;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding: 0;
	border-left: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
	background: none;
}
